
.paginator {
    margin: 10px;
}


.pageNumber {
   
    padding: 2px;
    border: 1px solid white;
}

.pageNumber.selectedPage {
    color: white;
    font-weight: bold;
        border: 5px solid gold;
}