.formControl.error input,
.formControl.error textarea{

    border:  5px red solid;

}

.formControl.error span{

    color:  red;
    font-weight: bold;

}

.formSummaryError{
    border:  red  3px solid;
    padding: 5px; 
    font-weight: bold;
    color: yellow;
}